.app-container {
    min-height: 100vh;
    background-color: var(--color-background);
}

.content {
    padding-bottom: 83px;
    /* Tab bar height */
}

.placeholder-page {
    padding: 24px 20px;
}